<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newSport" placeholder="Enter sports name" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addSport()">Add Sport</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Sport Names</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sport of sports">
    <td>{{ sport }}</td>
  </tr>
  </tbody>
</table>
