<link href="app.component.css">



<button type="button" class="btn btn-primary" routerLink="/Studentlist">Student List</button>
<button type="button" class="btn btn-primary" routerLink="/Employeelist">Employee List</button>
<button type="button" class="btn btn-primary" routerLink="/Fruitlist">Fruit List</button>
<button type="button" class="btn btn-primary" routerLink="/Courselist">List of Courses</button>
<button type="button" class="btn btn-primary" routerLink="/Booklist">List of Books</button>
<button type="button" class="btn btn-primary" routerLink="/Citylist">City List</button>
<button type="button" class="btn btn-primary" routerLink="/Movielist">List of Movies</button>
<button type="button" class="btn btn-primary" routerLink="/Carmodellist">List Car Models</button>
<button type="button" class="btn btn-primary" routerLink="/Productlist">Product List</button>
<button type="button" class="btn btn-primary" routerLink="/Subjectlist">List of Subjects</button>
<button type="button" class="btn btn-primary" routerLink="/Countrylist">List of Countries</button>
<button type="button" class="btn btn-primary" routerLink="/Sportslist">Sports List</button>
<button type="button" class="btn btn-primary" routerLink="/Vegetablelist">List of Vegetables</button>
<button type="button" class="btn btn-primary" routerLink="/Animallist">List of Animals</button>
<button type="button" class="btn btn-primary" routerLink="/Toollist">List of Tools</button>
<button type="button" class="btn btn-primary" routerLink="/Languagelist">List of Languages</button>
<button type="button" class="btn btn-primary" routerLink="/Gamelist">List of Games</button>
<button type="button" class="btn btn-primary" routerLink="/Softwarelist">Software List</button>
<button type="button" class="btn btn-primary" routerLink="/Phonecontactlist">List of Contacts</button>


<router-outlet></router-outlet>
