<link href="app.component.css">



<button type="button" class="btn btn-primary" routerLink="/Studentlist">Student List</button>
<button type="button" class="btn btn-primary" routerLink="/Employeelist">Employee List</button>
<button type="button" class="btn btn-primary" routerLink="/Fruitlist">Fruit List</button>
<button type="button" class="btn btn-primary" routerLink="/Courselist">List of Courses</button>
<button type="button" class="btn btn-primary" routerLink="/Booklist">List of Books</button>
<button type="button" class="btn btn-primary" routerLink="/Citylist">City List</button>
<button type="button" class="btn btn-primary" routerLink="/Movielist">List of Movies</button>
<button type="button" class="btn btn-primary" routerLink="/Carmodellist">List Car Models</button>
<button type="button" class="btn btn-primary" routerLink="/Productlist">Product List</button>
<button type="button" class="btn btn-primary" routerLink="/Subjectlist">List of Subjects</button>
<button type="button" class="btn btn-primary" routerLink="/Countrylist">List of Countries</button>
<button type="button" class="btn btn-primary" routerLink="/Sportslist">Sports List</button>
<button type="button" class="btn btn-primary" routerLink="/Vegetablelist">List of Vegetables</button>
<button type="button" class="btn btn-primary" routerLink="/Animallist">List of Animals</button>
<button type="button" class="btn btn-primary" routerLink="/Toollist">List of Tools</button>
<button type="button" class="btn btn-primary" routerLink="/Languagelist">List of Languages</button>
<button type="button" class="btn btn-primary" routerLink="/Gamelist">List of Games</button>
<button type="button" class="btn btn-primary" routerLink="/Softwarelist">Software List</button>
<button type="button" class="btn btn-primary" routerLink="/Phonecontactlist">List of Contacts</button>
<button type="button" class="btn btn-primary" routerLink="/Musicplaylist">List of Musics</button>
<button type="button" class="btn btn-primary" routerLink="/Foodmenulist">List of Menu</button>
<button type="button" class="btn btn-primary" routerLink="/Grocerylist">Grocery List</button>
<button type="button" class="btn btn-primary" routerLink="/Classroomlist">Classroom List</button>
<button type="button" class="btn btn-primary" routerLink="/Inventorylist">List of Inventory</button>
<button type="button" class="btn btn-primary" routerLink="/Lecturelist">Lecture List</button>
<button type="button" class="btn btn-primary" routerLink="/Stationerylist">Stationery List</button>
<button type="button" class="btn btn-primary" routerLink="/Flowerlist">List of Flowers</button>
<button type="button" class="btn btn-primary" routerLink="/Destinationlist">List of Destinations</button>
<button type="button" class="btn btn-primary" routerLink="/Laptoplist">Laptop List</button>
<button type="button" class="btn btn-primary" routerLink="/Laptopspecificationlist">Laptop Specification List</button>
<button type="button" class="btn btn-primary" routerLink="/Computerhardwarelist">List of Computer Hardware</button>
<button type="button" class="btn btn-primary" routerLink="/Mobileapplist">List of Mobile Apps</button>
<button type="button" class="btn btn-primary" routerLink="/Videolist">List of Videos</button>
<button type="button" class="btn btn-primary" routerLink="/Tvshowlist">List of TV Shows</button>
<button type="button" class="btn btn-primary" routerLink="/Furniturelist">Furniture List</button>
<button type="button" class="btn btn-primary" routerLink="/Accessorylist">List of Accessories</button>
<button type="button" class="btn btn-primary" routerLink="/Buildinglist">List of Buildings</button>
<button type="button" class="btn btn-primary" routerLink="/Paintinglist">List of Paintings</button>
<button type="button" class="btn btn-primary" routerLink="/Artistlist">List of Artists</button>
<button type="button" class="btn btn-primary" routerLink="/Composerlist">List of Composers</button>
<button type="button" class="btn btn-primary" routerLink="/Podcastlist">Podcast List</button>
<button type="button" class="btn btn-primary" routerLink="/Exerciselist">List of Exercises</button>
<button type="button" class="btn btn-primary" routerLink="/Mealplanlist">List of Meal Plans</button>
<button type="button" class="btn btn-primary" routerLink="/Budgetlist">Budget List</button>
<button type="button" class="btn btn-primary" routerLink="/Presentationlist">Presentation List</button>
<button type="button" class="btn btn-primary" routerLink="/Tourlist">List of Tours</button>
<button type="button" class="btn btn-primary" routerLink="/Eventlist">List of Events</button>
<button type="button" class="btn btn-primary" routerLink="/Developertoollist">List of Developer Tools</button>
<button type="button" class="btn btn-primary" routerLink="/Frameworklist">List of Frameworks</button>
<button type="button" class="btn btn-primary" routerLink="/Librarylist">List of Libraries</button>


<hr style="border-bottom: 2px solid">
<router-outlet></router-outlet>
