<link href="app.component.css">



<button type="button" class="btn btn-primary" routerLink="/Studentlist">Student List</button>
<button type="button" class="btn btn-primary" routerLink="/Employeelist">Employee List</button>
<button type="button" class="btn btn-primary" routerLink="/Fruitlist">Fruit List</button>
<button type="button" class="btn btn-primary" routerLink="/Courselist">List of Courses</button>
<button type="button" class="btn btn-primary" routerLink="/Booklist">List of Books</button>
<button type="button" class="btn btn-primary" routerLink="/Citylist">City List</button>
<button type="button" class="btn btn-primary" routerLink="/Movielist">List of Movies</button>
<button type="button" class="btn btn-primary" routerLink="/Carmodellist">List Car Models</button>

<router-outlet></router-outlet>
