<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newInventoryItems" placeholder="Enter item name" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addInventoryItem()">Add Item</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Inventory Items</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of inventoryItems">
    <td>{{ items }}</td>
  </tr>
  </tbody>
</table>
