<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newClassroomStudent" placeholder="Enter student name" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addClassroomStudent()">Add Student</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Classroom Students</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let studName of classroomStudent">
    <td>{{ studName }}</td>
  </tr>
  </tbody>
</table>
