<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newPresentations" placeholder="Enter presentation title" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addPresentations()">Add Presentation</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Presentation Titles</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let present of presentations">
    <td>{{ present }}</td>
  </tr>
  </tbody>
</table>
