<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newAnimals" placeholder="Enter animal name" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addAnimal()">Add Animal</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Animal Names</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let name of animals">
    <td>{{ name }}</td>
  </tr>
  </tbody>
</table>
