<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newTourLocation" placeholder="Enter Location" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addTourLocation()">Add Location</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Tour Locations</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tours of tourLocations">
    <td>{{ tours }}</td>
  </tr>
  </tbody>
</table>
