
<style>
  thead th {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
</style>

<div style="margin: 10px">
  <input type="text" [(ngModel)]="newCity" placeholder="Enter city name" />
  <button style="margin: 4px; margin-top: -3px" class="btn btn-primary" (click)="addCity()">Add City</button>
</div>

<table border="2" style="margin: 10px">
  <thead>
  <tr>
    <th>Names of Cities</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let city of cities">
    <td>{{ city }}</td>
  </tr>
  </tbody>
</table>
